@charset "utf-8";

body {

    text-align: center;

}

div.aj-dashboard {

    display: inline-block;

}

div.aj-dashboard .dc-chart {

    float: none;

}

div.aj-dashboard .area-caption {

    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
    text-transform: uppercase

}

div.aj-dashboard .aj-kwh-vs-change {


}

div.aj-dashboard .top-trendings {

    text-align: left;

}

div.aj-dashboard .top-trending-over-base-line-holder {

    position: relative;

}

div.aj-dashboard .top-trending-over-base-line-rc {

    display: inline-block;

}

div.aj-dashboard .top-trending-over-base-line-rc g.row text {

    font-size: 10px;
    fill: black;
    text-anchor: end;

}

div.aj-dashboard .top-trending-over-base-line-bc {

    position: absolute;
    left: 0;
    top: 60px;
    z-index: -1;

}

div.aj-dashboard .top-trending-under-base-line {

    display: inline-block;

}

div.aj-dashboard .top-trending-under-base-line g.row text {

    font-size: 10px;
    fill: black;
    text-anchor: end;

}

/*################# DAILY CHANGE HEATMAP ###################*/

div.aj-dashboard .daily-change-heatmap {

}

div.aj-dashboard .daily-change-heatmap table {

    width: 1000px;

}

div.aj-dashboard .daily-change-heatmap th {

    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    width: 12%;

}

div.aj-dashboard .daily-change-heatmap th:first-child {

    border-left: 1px solid #ccc;
    width: 16%;

}

div.aj-dashboard .daily-change-heatmap .table-content {

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
    width: calc(100% + 20px);

}

div.aj-dashboard .daily-change-heatmap td {

    width: 12%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

div.aj-dashboard .daily-change-heatmap td:first-child {

    width: 16%;
    border-left: 1px solid #ccc;

}

/*################# TOP FACILITIES TOP RULES ###################*/

div.aj-dashboard .top-facilities-rules g.row text {

    font-size: 10px;
    fill: black;
    text-anchor: end;

}

div.aj-dashboard .top-facilities-holder {

    display: inline-block;
    width: 50%;

}

div.aj-dashboard .top-rules-holder {

    display: inline-block;
    width: 49%;

}

div.aj-dashboard .top-facilities-holder .area-caption,
div.aj-dashboard .top-rules-holder .area-caption {

    padding-left: 200px;
    line-height: 12px;
    height: 12px;
    border-bottom: 1px solid #999;

}

/*################# EVENTS SCORECARD ###################*/

div.aj-dashboard .events-scorecard {



}

div.aj-dashboard .events-scorecard .area-caption {

    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    height: 12px;
    padding-bottom: 0;
    border-bottom: 1px solid #999;

}

div.aj-dashboard .event-scorecard {

    display: inline-block;
    margin-right: 10px;
    width: 237px;

}

div.aj-dashboard .event-scorecard-count {

    text-align: left;
    font-size: 32px;
    font-weight: bold;

}

div.aj-dashboard .events-bc {

    border-bottom: 1px solid #00abd6;
    height: 19px;
    overflow: visible;

}

div.aj-dashboard .events-scorecard .axis {

    display: none;

}

/*################# DAILY EVENTS ###################*/

div.aj-dashboard .daily-events-chart {

    display: inline-block;
    width: 500px;
    font-size: 11px;
    vertical-align: top;

}

div.aj-dashboard .daily-events-chart table {

    width: 480px;

}

div.aj-dashboard .daily-events-chart th {

    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 15px;
    line-height: 15px;
    width: 12%;

}

div.aj-dashboard .daily-events-chart th:first-child {

    border-left: 1px solid #ccc;
    width: 16%;

}

div.aj-dashboard .daily-events-chart .table-content {

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    width: 500px;

}

div.aj-dashboard .daily-events-chart td {

    width: 12%;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;

}

div.aj-dashboard .daily-events-chart td:first-child {

    width: 16%;
    border-left: 1px solid #ccc;

}

/*################# QUANTITY VS VARIETY ###################*/

.quantity-vs-variety-chart {

    display: inline-block;
    width: 500px;
    font-size: 11px;
    vertical-align: top;

}




