<!DOCTYPE html>
<html>
<head>
	
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
    <title>Dimensional Chartings</title>

    <link rel="stylesheet" type="text/css" href="css/dc.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <script src="libraries/d3.js"></script>
    <script src="libraries/crossfilter.js"></script>
	<script src="libraries/dc.js"></script>

    <script src="libraries/angular.js"></script>

    <script src="app/aj.js"></script>
    <script src="app/app.js"></script>
    
</head>

<body ng-app="aj">

    <div id="aj-dashboard" class="aj-dashboard">

        <div class="area-caption">kWh vs % Change</div>

        <div class="aj-kwh-vs-change" link="widget-kwh-vs-change"></div>

        <div class="top-trendings">

            <div class="top-trending-over-base-line-holder">

                <div class="area-caption">Top Trending over Baseline</div>

                <div class="top-trending-over-base-line-rc" link="widget-top-trending-over-base-line-rc"></div>

                <div class="top-trending-over-base-line-rc" link="widget-top-trending-over-base-line-bc"></div>

            </div>

            <div class="top-trending-under-base-line" link="widget-top-trending-under-base-line"></div>



        </div>

        <div class="daily-change-heatmap" ng-controller="dailyChangeHeatmapCtrl">

            <div class="area-caption">Daily % Change Heatmap</div>

            <table border="0" cellspacing="0" cellpadding="0">

                <thead>

                    <tr>

                        <th>Week</th>

                        <th>Mon</th>

                        <th>Tue</th>

                        <th>Wed</th>

                        <th>Thu</th>

                        <th>Fri</th>

                        <th>Sat</th>

                        <th>Sun</th>

                    </tr>

                </thead>

            </table>

            <div class="table-content">

                <table border="0" cellspacing="0" cellpadding="0">

                    <tbody>

                        <tr ng-repeat="WeekData in DailyChangeHeatmap">

                            <td>{{WeekData.key | date:'dd/MM/yy'}}</td>

                            <td ng-repeat="Value in WeekData.value" ng-style="{backgroundColor: getCellColor(Value)}">

                                <span ng-show="Value.Count > 0">{{(Value.PercentChangeSum / Value.Count)*100 | number : 0}}%</span>

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

        <div class="top-facilities-rules">

            <div class="top-facilities-holder">

                <div class="area-caption">Top Facilities</div>

                <div class="top-facilities-rc" link="widget-top-facilities-rc"></div>

            </div>

            <div class="top-rules-holder">

                <div class="area-caption">Top Rules</div>

                <div class="top-rules-rc" link="widget-top-rules-rc"></div>

            </div>

        </div>

        <div class="events-scorecard" ng-controller="eventsCtrl">

            <div class="event-scorecard events">

                <div class="area-caption"># Events</div>

                <div class="event-scorecard-count" link="widget-events-bc-count">{{EventsSum | number}}</div>

                <div class="events-bc" link="widget-events-bc"></div>

            </div>

            <div class="event-scorecard closed-events">

                <div class="area-caption"># Closed Events</div>

                <div class="event-scorecard-count" link="widget-closed-events-bc-count">{{ClosedEventsSum | number}}</div>

                <div class="events-bc" link="widget-closed-events-bc"></div>

            </div>

            <div class="event-scorecard not-closed-events">

                <div class="area-caption"># Not Closed</div>

                <div class="event-scorecard-count" link="widget-not-closed-events-bc-count">{{NotClosedEventsSum | number}}</div>

                <div class="events-bc" link="widget-not-closed-events-bc"></div>

            </div>

            <div class="event-scorecard in-error-state-events">

                <div class="area-caption"># In Error State</div>

                <div class="event-scorecard-count" link="widget-in-error-state-events-bc-count">{{InErrorStateEventsSum | number}}</div>

                <div class="events-bc" link="widget-in-error-state-events-bc"></div>

            </div>

        </div>

        <div class="daily-events-and-quantity-vs-variety" ng-controller="dailyEventsCtrl">

            <div class="daily-events-chart">

                <div class="area-caption">Daily Events</div>

                <table border="0" cellspacing="0" cellpadding="0">

                    <thead>

                        <tr>

                            <th>Week</th>

                            <th>Mon</th>

                            <th>Tue</th>

                            <th>Wed</th>

                            <th>Thu</th>

                            <th>Fri</th>

                            <th>Sat</th>

                            <th>Sun</th>

                        </tr>

                    </thead>

                </table>

                <div class="table-content">

                    <table border="0" cellspacing="0" cellpadding="0">

                        <tbody>

                            <tr ng-repeat="WeekData in DailyChangeHeatmap">

                                <td>{{WeekData.key | date:'dd/MM/yy'}}</td>

                                <td ng-repeat="Value in WeekData.value" ng-style="{backgroundColor: getCellColor(Value)}">

                                    <span>{{Value.EventsSum | number}}</span>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

            <div class="quantity-vs-variety-chart">

                <div class="area-caption">QUANTITY vs VARIETY</div>

                <div link="widget-quantity-vs-variety-bc">


                </div>

            </div>

        </div>

    </div>

    <br /><br /><br /><br />

</body>

<script>AJ.Start();</script>

</html>
